#cart-modal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0,0,0,0.75)
}

#close {
  width: 22px;
  height: 22px;
  padding: 18px;
  position: absolute;
  top: 0;
  right: 0;
  stroke: var(--gray);
  stroke-width: 1;
  stroke-linecap: round;
  fill: none;
  background: none;
}

dialog article {
  margin-bottom: 17px
}

dialog p {
  display: flex;
  margin-bottom: 17px;
  color: var(--gray);
}

dialog p span {
  margin-left: auto;
  color: var(--nearblack);
}


dialog {
  width: 100%;
  height: 100%;
  padding: 0 17px;
  overflow-y: scroll;
}

dialog > h3 {
  padding: 52px 0 24px
}

dialog hr {
  margin-bottom: 17px
}

dialog p:last-of-type {
  padding-bottom: 60px
}

.controls {
  display: flex;
  padding: 17px 0
}

.controls > * {
  flex: 1
}

.controls output {
  padding: 1em 0;
  border-top: 2px solid var(--offwhite);
  border-bottom: 2px solid var(--offwhite);
  text-align: center;
}

#empty {
  height: 70px;
  width: 70px;
  margin: 42% auto 10px;
  fill: var(--gray);
  opacity: 0.6;
  position: relative;
  right: 2px;
}

dialog em {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 1rem;
  font-style: normal;
  color: var(--gray);
  opacity: 0.8;
  line-height: 1.4
}


@media (min-width: 414px) {

  dialog {
    width: 80%;
    height: 60%;
    position: relative;
    max-width: 780px;
    max-height: 678px;
    border-radius: 14px;
    padding: 0 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    margin: auto
  }

  .controls {
    padding: 0 0 0 17px
  }

  .controls output {
    padding: 0.6em 0
  }

  #empty {
    margin-top: 24%
  }

  dialog .checkout {
    margin-bottom: 30px
  }

}


@media (min-width: 770px) {

  dialog {
    padding: 0 80px
  }

  #empty {
    margin-top: 16%
  }

}
