/**
 *  Contents:
 *
 *  - Buttons
 *      Text Buttons
 *      Standard Buttons
 *      Checkout Button
 *      Close Button
 *  - Cards
 *  - Tiles
 *  - Breakpoints
 */


/* -- Buttons -- */

/* Text Buttons */

.text-link {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  font-size: 14px;
  color: var(--nearblack);
  background: none
}

.text-link:hover {
  color: var(--hoverblue);
}

.text-link svg {
  width: 18px;
  height: 18px;
  margin: 0 6px 1px 0;
  fill: var(--nearblack);
}

.text-link:hover svg {
  fill: var(--hoverblue);
}

.text-remove {
  color: var(--red);
  background: none
}

/* Standard Buttons */

.btn {
  text-align: center;
  text-transform: uppercase
}

.btn.primary {
  padding: 1em 1.5em;
  font-size: 0.8rem;
  color: #FFF;
  border-radius: 30px;
  background: var(--blue);
}

.btn.secondary {
  font-size: 2rem;
  color: var(--gray);
  background: var(--offwhite);
}

.btn.secondary.left {
  border-radius: 30px 0 0 30px;
}

.btn.secondary.right {
  border-radius: 0 30px 30px 0;
}

.btn.primary:hover {
  background: var(--hoverblue);
}

.btn.secondary:hover {
  color: #FFF;
  background: var(--blue);
}

.btn:disabled, .text-link:disabled {
  opacity: 0.4;
  pointer-events: none
}

/* Checkout Button */

.btn.checkout {
  width: 100%;
  padding: 1em 0;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #FFF;
  background: var(--blue);
}

/* Close Button */

.close {
  width: 32px;
  height: 32px;
  padding: 18px;
  position: absolute;
  top: 0;
  right: 0;
  stroke: var(--gray);
  stroke-width: 0.6;
  stroke-linecap: round;
  fill: none;
  background: none;
  opacity: 0.6
}


/* -- Cards -- */

.card {
  position: relative;
  margin-bottom: 15px;
  border-radius: 8px;
  background: #FFF;
  overflow: hidden
}

.mask {
  position: relative;
  overflow: hidden
}

.mask::before {
  display: block;
  content: "";
  padding-top: 72%
}

.mask img {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: -2%
}

.card .mask {
  width: 100%;
  margin-bottom: 26px
}

.card hgroup {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 22px 12px;
}

.card .sub,
.card button {
  margin-left: 22px;
  margin-bottom: 30px
}

.card .sub {
  text-transform: uppercase;
  opacity: 0.9
}


/* -- Tiles -- */

.tile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 37% 1fr;
  grid-template-columns: 37% 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto
}

.tile .mask {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2
}

.tile button {
  -ms-grid-row-align: end;
  -webkit-align-self: end;
  align-self: end;
  -ms-grid-column-align: start;
  -webkit-justify-self: start;
  justify-self: start
}

.tile > div {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3
}

.tile hgroup {
  padding-left: 14px
}

.tile h3 {
  margin-bottom: 0.4em
}

.tile .text-remove {
  margin-left: 14px
}


/* -- Breakpoints -- */

@media (min-width: 414px) {

  .btn.checkout {
    width: 100%;
    position: relative;
    border-radius: 6px
  }

  .close {
    width: 42px;
    height: 42px;
    padding: 8px;
    top: 10px;
    right: 10px
  }

  .card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 1fr;
    grid-template-columns: 40% 1fr;
    -ms-grid-rows: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    margin-bottom: 24px
  }

  .card .mask {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
    margin-bottom: 0
  }

  .mask img {
    left: -6%
  }

  .card hgroup,
  .card .sub,
  .card button {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3
  }

  .card .sub,
  .card button {
    -ms-grid-row-align: start;
    align-self: start;
    -ms-grid-column-align: start;
    justify-self: start
  }

  .card hgroup {
    padding: 36px 36px 15px
  }
  
  .card .sub {
    margin-left: 36px
  }

  .card button {
    margin: 0 0 36px 36px
  }

  .tile .mask {
    grid-row: 1 / 4
  }

  .tile > div {
    grid-column: 2 / 3
  }

}


@media (min-width: 770px) {

  .card {
    margin-bottom: 28px
  }

  .card hgroup {
    padding: 56px 56px 26px
  }
  
  .card .sub {
    margin-left: 56px
  }

  .card button {
    margin: 0 0 56px 56px
  }

  .mask img {
    left: -4%
  }

}
