/** Patterns **/

/* Buttons */

.text-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--nearblack);
  background: none
}

.text-link:hover {
  color: var(--hoverblue);
}

.text-link svg {
  width: 18px;
  height: 18px;
  margin: 0 6px 1px 0;
  fill: var(--nearblack);
}

.text-link:hover svg {
  fill: var(--hoverblue);
}

.btn {
  padding: 1em 1.5em;
  text-align: center;
  text-transform: uppercase
}

.btn.primary {
  font-size: 0.8rem;
  color: #FFF;
  border-radius: 30px;
  background: var(--blue);
}

.btn.secondary {
  color: var(--gray);
  background: var(--offwhite);
}

.btn.secondary.left {
  border-radius: 30px 0 0 30px;
}

.btn.secondary.right {
  border-radius: 0 30px 30px 0;
}

.btn.primary:hover {
  background: var(--hoverblue);
}

.btn.secondary:hover {
  background: var(--blue);
}

.btn:disabled, .text-link:disabled {
  opacity: 0.4;
  pointer-events: none
}


/* Cards */

.card {
  position: relative;
  margin-bottom: 10px;
  border-radius: 8px;
  background: #FFF;
  overflow: hidden;
}

.card .mask {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 26px
}

.card .mask::before {
  display: block;
  content: "";
  padding-top: 72%
}

.card .mask img {
  width: auto;
  height: 100%;
  position: absolute;
  top:0;
  left: -2%;
}

.card hgroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px 12px;
}

.card .sub,
.card button {
  margin-left: 22px;
  margin-bottom: 30px
}

.card .sub {
  color: var(--gray);
  text-transform: uppercase;
  opacity: 0.9
}



@media (min-width: 414px) {

  .card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 1fr;
    grid-template-columns: 40% 1fr;
    -ms-grid-rows: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    margin-bottom: 24px
  }

  .card .mask {
    -ms-grid-row: 1;
    -ms-grid-span: 3;
    grid-row: 1 / 4;
    margin-bottom: 0
  }

  .card hgroup,
  .card .sub,
  .card button {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3
  }

  .card .sub,
  .card button {
    -ms-grid-row-align: start;
    align-self: start;
    -ms-grid-column-align: start;
    justify-self: start
  }

  .card hgroup {
    padding: 36px 36px 15px
  }
  
  .card .sub {
    margin-left: 36px
  }

  .card button {
    margin: 0 0 36px 36px
  }

}


@media (min-width: 770px) {

  .card {
    margin-bottom: 28px
  }

  .card hgroup {
    padding: 56px 56px 26px
  }
  
  .card .sub {
    margin-left: 56px
  }

  .card button {
    margin: 0 0 56px 56px
  }

}
